Client/Library/PackageManager/ProjectCache
Client/Library/PackageManager/projectResolution.json
MMO_Server/PacketGenerator/obj/Debug/PacketGenerator.AssemblyInfo.cs
MMO_Server/PacketGenerator/obj/Debug/PacketGenerator.AssemblyInfoInputs.cache
MMO_Server/PacketGenerator/obj/Debug/PacketGenerator.assets.cache
MMO_Server/PacketGenerator/obj/Debug/PacketGenerator.GeneratedMSBuildEditorConfig.editorconfig
Client/Library/ArtifactDB
Client/Library/ArtifactDB
MMO_Server/CLAUDE.md
MMO_Server/새 텍스트 문서.txt
MMO_Server/.claude/settings.local.json
Client/Library/ArtifactDB
Client/Library/ArtifactDB
