Client/Library/PackageManager/ProjectCache
Client/Library/PackageManager/projectResolution.json
MMO_Server/PacketGenerator/obj/Debug/PacketGenerator.AssemblyInfo.cs
MMO_Server/PacketGenerator/obj/Debug/PacketGenerator.AssemblyInfoInputs.cache
MMO_Server/PacketGenerator/obj/Debug/PacketGenerator.assets.cache
MMO_Server/PacketGenerator/obj/Debug/PacketGenerator.GeneratedMSBuildEditorConfig.editorconfig
Client/Library/ArtifactDB
Client/Library/ArtifactDB
